.header {
    height: 50px;
    background-color: white;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    display: inline-flex;
    z-index: 10;
    box-shadow: 7px 3px 20px 0px #ececec;
}
