<div class="nav-bar">
    <div id="home" class="menu" (click)="onClkMenubar('home')" routerLink="/">Home</div>
    <div id="orders" class="menu" (click)="onClkMenubar('orders')" routerLink="/orders">Orders</div>
    <div id="product" class="menu" (click)="onClkMenubar('product')" routerLink="/products">Products</div>
    <div id="manage" class="menu" (click)="onClkMenubar('manage')" routerLink="/manage">Manage</div>
    <div id="account" class="menu" (click)="onClkMenubar('account')" routerLink="/account">Account</div>
</div>