.nav-bar {
    height: 50px;
    background-color: rgb(26, 26, 26);
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    display: inline-flex;
    z-index: 10;
    .menu {
        color: white;
        display: flex;
        align-items: center;
        cursor: pointer;
        transition: 0.2s;
        padding: 1rem;
        &:hover {
            background-color: #000000;
        }
    }
    .menu-active {
        background-color: var(--primary) !important;
    }
    
}
