.side-menu {
    height: 100%;
    background-color: #fff;
    position: fixed;
    left: 0;
    top: 50px;
    width: 200px;
    box-shadow: 7px 3px 20px 0px #ececec;
    .menu {
        color: rgb(25, 1, 1);
        cursor: pointer;
        padding: 16px;
        transition: 0.2s;
        text-transform: capitalize;
        border-left: 4px white solid;
        &:hover {
            background-color: #ededed;
            border-left: 4px #ededed solid;
        }
    }
    .active {
        border-left: 4px var(--primary) solid !important;
        color: var(--primary) !important;
        background-color: white !important;
    }
}
